:root
  --color-link #ec5728
  --color-primary #ec5728

.el-tabs__item {
    background: #fff
    color: red;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  color: #010101 !important;
  background-color: transparent;

  &:hover {
    color: var(--color-primary) !important;
  }
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: var(--color-primary) !important;
}

.logo__image > img, .logo__img__custom {
  height: 28px !important;
  line-height: 28px !important;
  width: auto !important;
}

.logo__image__custom__img {
  margin-top 7px;
}

.layout__sidebar .logo {
  padding-bottom 10px !important;
}

.search__container .search {
  padding-top 10px !important;

  & .search__text {
    padding-top 4px;
  }
}

.logo__item.logo__link {
  justify-content: right !important;

  & .smallprint__item__links__item {
    margin-right 0;
    margin-left 1rem;
  }
}