name: Build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master' }}
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  build:
    runs-on: ubuntu-cpu16-ram64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.10'
      - uses: technote-space/get-diff-action@v5
        id: git_diff
        with:
          PATTERNS: |
            +**/*.go
          FILES: |
            go.mod
            go.sum
      - name: Pull LFS files
        run: git lfs pull
      - run: |
          make build
        if: env.GIT_DIFF || env.GIT_FILES
  build-nix:
    runs-on: ubuntu-cpu16-ram64
    steps:
      - uses: actions/checkout@v4
      - uses: haqq-network/nix-action@master
        with:
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          cacheKeyPostfix: ${{ hashFiles('**/go.sum') }}
      - name: Build nix package
        run: |
          nix build .#haqq --print-build-logs
  check-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haqq-network/nix-action@master
        with:
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          cacheKeyPostfix: ${{ hashFiles('**/go.sum') }}
      - name: Check if nix package and Makefile versions match
        run: |
          nix develop --impure .#ci --command ci-check-version
      - name: Check if gomod2nix is up to date
        run: |
          nix develop --impure .#ci --command ci-check-gomod2nix
