name: Push to Docker Hub

on:
  push:
    tags:
      - "v*.*.*"

  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-cpu16-ram64
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Git fetch everything
        run: git fetch --prune --unshallow
      -
        name: Pull LFS files
        run: git lfs pull
      -
        name: Get Github tag
        id: meta
        run: |
          echo "::set-output name=tag::$(git describe --always --tags --match='v*' | awk -F- '{print $1}')"
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/build.Dockerfile
          push: true
          platforms: linux/amd64, linux/arm64
          tags: ${{ secrets.DOCKERHUB_USER }}/${{ secrets.DOCKERHUB_IMAGE }}:latest, ${{ secrets.DOCKERHUB_USER }}/${{ secrets.DOCKERHUB_IMAGE }}:${{ steps.meta.outputs.tag }}
