name: Lint
# Lint runs golangci-lint over the entire ethermint repository This workflow is
# run on every pull request and push to main The `golangci` will pass without
# running if no *.{go, mod, sum} files have been changed.
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  golangci:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.10'
      - uses: technote-space/get-diff-action@v5
        with:
          PATTERNS: |
            +**/*.go
          FILES: |
            go.mod
            go.sum
      - uses: golangci/golangci-lint-action@v8
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          # Updated to v2.6 to support Go 1.24
          version: v2.6
          args: --timeout 10m
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: env.GIT_DIFF